.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}

h1, h2, h3, title, li {
	font-family: 'Michroma', sans-serif;
  color: #EEE5E9;
}

#bandModule {
  width: 60%;
  margin-left: 20%;
  margin-top: none;
  border: 2px solid #EEE5E9;
  background-color: #7C7C7C;
  text-align: center;
  align-content: center;

}

.bandPic{
  height: 280px;
}

.carousel{
    background: #2f4357;
    margin-top: 20px;
    
}
.carousel .item{
    min-height: 280px; /* Prevent carousel from being distorted if for some reason image doesn't load */
}
.carousel .item img{
    margin: 0 auto; /* Align slide image horizontally center */
}
.bs-example{
	margin: 20px;
}

.carousel-control { background: none !important; filter: none !important; progid:none !important; }

#Soundcloud{

	height: 200px;
  border: 2px solid #EEE5E9;
  background-color: #7C7C7C;
  text-align: center;
  align-content: center;

}

#Bandcamp{

	height: 500px;
  border: 2px solid #EEE5E9;
  background-color: #7C7C7C;
  text-align: center;
  align-content: center;

}

#Spotify{

	height: 500px;
  border: 2px solid #EEE5E9;
  background-color: #7C7C7C;
  text-align: center;
  align-content: center;


}
